# Backend
backend/target/
backend/.mvn/
*.class
*.jar
*.war

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Docker
.env

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
